/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans', sans-serif;
 */



body {
	font-family: 'Open Sans', sans-serif;
}

footer{
	font-weight: bolder;
	
	font-size: small;
}


.container {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;

	display: grid;
	grid-template-columns: 218px 1fr 200px;

}

header{
	grid-column: 1/2;
	margin-top: 20px;
}


aside {
	grid-column: 2/4;
	align-self: end;
	line-height: 1.3em;
}

img {
	grid-column: 1/2;
	margin-left: 40px;
}

main{
	grid-column: 1/4;
}

footer{
	grid-column: 1/2;
}

nav{
	grid-column: 2/4;
}

section{
	display: block;
	grid-column: 1/4;
	line-height: 1.8em;
	margin-bottom: 30px;
	
}




nav ul{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}

nav li{
	margin-left: 20px;
}

nav a{
	text-decoration: none;
}


aside ul{
	list-style-type: none;
	font-style: italic;
	font-size: 18px;
	margin-bottom: 5px;
}



.is-current {
		background-color: black;
 		color: white;
}



header a{
	display: block;
	position: relative;
}

header h1{
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top:87px;
	left:-81px;
	font-size: 27px;
	color: black;

	font-family: 'Abril Fatface', cursive;
}

.align-fix{
	left: -99px;
	top: 70px;
}









